@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: #333333;
  line-height: 1.5;
}

/* ul {
  list-style: none;
} */

a {
  color: #333333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.fontKid {
  font-family: 'Poor Story';
}

.drimg {
  border-radius: 10px 100px 10px 100px;
}

.navbarCustom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #456edf;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbarCustom a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbarCustom ul {
  display: flex;
  list-style: none;
}

.navbarCustom a:hover {
  border-bottom: #456edf 2px solid;
}

.navbarCustom .logo {
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  letter-spacing: 0;
  font-family: 'Lato', sans-serif;
}

.navbarCustom .logo i {
  color: #28a745;
}

.navbarCustom hr {
  margin: 0;
  opacity: 1;
}

.navbarCustom.top {
  background: transparent;
}

.specialized {
  font-size: 16px;
}

#contact {
  position: relative;
  background: url(./image_resources/bg.jpg) no-repeat 0 0;
  background-size: cover;
}
#contact:before {
  position: absolute;
  inset: 0;
  content: '';
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#contact > div {
  position: relative;
}

/* header */

.hero {
  background: url('https://images.pexels.com/photos/8460033/pexels-photo-8460033.jpeg?cs=srgb&dl=pexels-los-muertos-crew-8460033.jpg&fm=jpg') no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  top: auto;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content h3 {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url(./image_resources/home/blog.jpg) no-repeat center center/cover;
  height: 20vh;
}

.contact_info i {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 18px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #28a745;
}

.service i {
  color: #28a745;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 8px;
}

.contact_info span,
.contact_info a {
  color: #fff;
}

.cases img:hover {
  opacity: 0.7;
}



.content.blog h1 {
  margin-top: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80px;
  background-color: #456edf;
  padding-bottom: 0;
}

.footer a {
  color: #fff;
}


.footer a:hover {
  color: #28a745;
}

.footer .social>* {
  margin-right: 30px;
}

.zio {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  height: 100%;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 300px;

}

.info {
  font-size: 10px;
  line-height: 20px;
  text-align: left;
  height: auto;
  padding: 5px;
  margin-bottom: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  height: 100%;
  margin-left: 10px;
}

.altezza {
  height: 100%;
}


.informazioni {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.card-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  min-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100%;
}

.info {
  margin-bottom: 20px;
  font-weight: bold;
  height: 100%;
}

.mypage {
  text-decoration: underline;
  color: #28a745;
  font-weight: bold;
}

/* Media Queries */

@media(max-width: 768px) {
  .navbarCustom {
    flex-direction: column;
    height: 150px;
    padding: 20px;
  }

  .column-1.card-1 {
    display: flex;
    /*  margin: auto; */
    min-width: 100px;
    font-size: 10px;
    /* margin-top: 10px; */
  }

  .column-1 .informazioni {
    display: flex;
    max-width: 350px;
    font-size: 10px;
    margin-top: 30px;
  }

  .column-1 h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .navbarCustom a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .flex-grid .column img {
    height: unset;
  }

  .content.blog h1 {
    display: none;
  }

  .content.card-1 h1 {
    font-size: 24px;
  }

  .specialized {
    font-size: 12px;
  }

  .informazioni {
    height: 500px;
  }
}